
TSYNADSP21XXSYN RCDATA "Images\TSYNADSP21XXSYN.png"
TSYNTCLTKSYN    RCDATA "Images\TSYNTCLTKSYN.png"
TSYNRUBYSYN     RCDATA "Images\TSYNRUBYSYN.png"
TSYNDOTSYN      RCDATA "Images\TSYNDOTSYN.png"
TSYNCSSYN       RCDATA "Images\TSYNCSSYN.png"
TSYNHASKELLSYN  RCDATA "Images\TSYNHASKELLSYN.png"
TSYNFOXPROSYN   RCDATA "Images\TSYNFOXPROSYN.png"
TSYNINNOSYN     RCDATA "Images\TSYNINNOSYN.png"
TSYNDMLSYN      RCDATA "Images\TSYNDMLSYN.png"
TSYNCACSYN      RCDATA "Images\TSYNCACSYN.png"
TSYNMODELICASYN RCDATA "Images\TSYNMODELICASYN.png"
TSYNVRML97SYN   RCDATA "Images\TSYNVRML97SYN.png"
TSYNHP48SYN     RCDATA "Images\TSYNHP48SYN.png"
TSYNCPMSYN      RCDATA "Images\TSYNCPMSYN.png"
TSYNKIXSYN      RCDATA "Images\TSYNKIXSYN.png"
TSYNPROGRESSSYN RCDATA "Images\TSYNPROGRESSSYN.png"
TSYNEIFFELSYN   RCDATA "Images\TSYNEIFFELSYN.png"
TSYNBAANSYN     RCDATA "Images\TSYNBAANSYN.png"
TSYNM3SYN       RCDATA "Images\TSYNM3SYN.png"
TSYNLDRSYN      RCDATA "Images\TSYNLDRSYN.png"
TSYNVBSCRIPTSYN RCDATA "Images\TSYNVBSCRIPTSYN.png"
TSYNUNREALSYN   RCDATA "Images\TSYNUNREALSYN.png"
TSYNSMLSYN      RCDATA "Images\TSYNSMLSYN.png"
TSYNIDLSYN      RCDATA "Images\TSYNIDLSYN.png"
TSYNCOBOLSYN    RCDATA "Images\TSYNCOBOLSYN.png"
TSYNGWSCRIPTSYN RCDATA "Images\TSYNGWSCRIPTSYN.png"
TSYNGALAXYSYN   RCDATA "Images\TSYNGALAXYSYN.png"
TSYN8051SYN     RCDATA "Images\TSYN8051SYN.png"
TSYNASMSYN      RCDATA "Images\TSYNASMSYN.png"
TSYNLUASYN      RCDATA "Images\TSYNLUASYN.png"
TSYNFORTRANSYN  RCDATA "Images\TSYNFORTRANSYN.png"
TSYNPROLOGSYN   RCDATA "Images\TSYNPROLOGSYN.png"
TSYNSDDSYN      RCDATA "Images\TSYNSDDSYN.png"
TSYNRCSYN       RCDATA "Images\TSYNRCSYN.png"
TSYNCACHESYN    RCDATA "Images\TSYNCACHESYN.png"
TSYNAWKSYN      RCDATA "Images\TSYNAWKSYN.png"
